.box{
    width: 350px;
<<<<<<< HEAD
    height:350px;
    border:1px solid #CCC;
=======
    height: 350px;
    border: 1px solid #ccc;
>>>>>>> 03c17ca71fc9f92c01967f86d959794ea24775f9
    position: relative;
}

.big{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 360px;
<<<<<<< HEAD
    border: 1px solid #CCC;
=======
    border: 1px solid #ccc;
>>>>>>> 03c17ca71fc9f92c01967f86d959794ea24775f9
    overflow: hidden;
    display: none;
}

.mask{
    width: 175px;
    height: 175px;
<<<<<<< HEAD
    background:rgba(255,255,0,.4);
=======
    background: rgba(255, 255, 0 , .4);
>>>>>>> 03c17ca71fc9f92c01967f86d959794ea24775f9
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    display: none;
}

.small{
<<<<<<< HEAD
    position: relative;
}

.box img{
    vertical-align: top;
    vertical-align: top;
}

#bigBox img{
    position: absolute;
=======
    position: relative
}

.box img{
    vertical-align: top
}

#bigBox img{
    position: absolute
>>>>>>> 03c17ca71fc9f92c01967f86d959794ea24775f9
}